/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #ffffff;
  margin-bottom: 48px;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #d58e6f;
  text-decoration: none;
  user-select: none;
  border: 1px #d58e6f solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #d58e6f;
}
.nav__message{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #d58e6f;
  text-decoration: none;
  user-select: none;
}
.nav__message:hover{
  opacity: 0.5;
}
.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #d58e6f;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
  resize: none;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #d58e6f;
  border: 1px #d58e6f solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */

.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}
.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}
.card__img {
  margin-bottom: 16px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 16px;
}

.card__price {
  font-size: 16px;
}

.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

/* イベント投稿プレビュー */
#previews {
  display: flex;
  flex-wrap: wrap;
}

.preview{
  margin-right: 30px;
  flex-basis: calc((100% - 30px * 5) / 6);
  margin-bottom: 10px; /* プレビュー間の縦方向の間隔 */
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
}



/* 詳細ページ */
.event__wrapper{
  min-height: calc(100vh - 161px);
}
.event__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.event__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.event__image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.event__image img {
  width: calc((100% - 80px) / 3);
  margin-bottom: 20px;
}
.event__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.event__manage{
  display: flex;
  justify-content: center;
  padding: 16px 0 16px;
}
.event__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}

.event__orange__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #ffffff;
  text-decoration: none;
  user-select: none;
  border: 1px orange solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
  background-color: orange;
  font-weight: bold;
}
.event__btn:hover{
  color: #fff;
  background: #999;
}

.event__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* ユーザー詳細ページ */
.user__manage{
  display: flex;
  justify-content: left;
  padding: 16px 0 16px;
}
.user__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}

.user__btn:hover {
  cursor: pointer;
}

.avatar{
  width: 50%;
}

.pv__message{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: orange;
  text-decoration: none;
  user-select: none;
  border: 1px orange solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-bottom: 10px;
}
.pv__message:hover{
  color: #fff;
  background: orange;
}
/* 個別DMページ一覧*/
.m-title{
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center; /* 水平方向の中央寄せ */
  border: #904644;
}

.card-body{
  display: flex;
  margin-bottom: 30px;
  border: solid 2px #e6bc87; 
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  align-items: center;
}
.d-flex{
  display: flex;
  align-items: center; 
}

.chat-text {
  text-align: center;
  flex-grow: 1; /* 残りのスペースを均等に分配して中央に配置 */
}

/* アイコン画像 */
.chat-avatar {
  width: 50px;
  padding: 0;
  margin-right: 10px; /* 追加 */
}

.chat-avatar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.chat-user-name{
  align-items: center;
  flex-grow: 1; /* 追加 */
}


/* 個別DMページ */

.line__container {
  padding:0;
  background: #dfcba5;
  overflow: hidden;
  width: 65%;
  margin: 20px auto;
  font-size: 80%;
  border-radius: 10px;
}

/* タイトル部分 */
.line__container .line__title {
  background: #904644;
  padding: 10px;
  text-align: center;
  font-size: 150%;
  color: #ffffff;
}

/* 会話部分 */
.line__container .line__contents {
  padding: 10px;
  overflow: hidden;
  line-height: 135%;
}

.line__container .scroll {
  height: 500px;
  overflow-y: scroll;
}


/* 相手の会話 */
.line__container .line__left {
    position: relative;
    display: block;
    margin-bottom: 5px;
    max-width: 50%;
    clear: both;
    word-break: break-all;
    text-align: justify;
}



/* アイコン画像 */
.line__container .line__left figure {
    width: 50px;
    position: absolute;
    top: 15px;
    left: 0;
    padding: 0;
    margin: 0;
}

/* 正方形を用意 */
.line__container .line__left figure img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.line__container .line__left .line__left-text {
  margin-left: 70px;
  
}

.line__container .line__left .line__left-text .name {
  font-size: 80%;
  color: #ffffff;
}

/* コメントエリア */
.line__container .line__left .text {
  margin: 0;
  position: relative;
  padding: 10px;
  border-radius: 20px;
  background-color: #ffffff;
}


/* 吹き出し */
.line__container .line__left .text::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -10px;
  top: 10px;
  border-right: 20px solid #ffffff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.text{
  display: inline-block; /* テキスト幅に合わせて要素をインラインブロックにする */
  max-width: calc(100% - 70px); /* 最大幅をアイコンの幅を考慮して設定 */
  margin-left: 70px; /* アイコンの幅に合わせて左側のマージンを設定 */
}



/* 自分の会話 */
.line__container .line__right {
    position: relative;
    display: block;
    margin: 5px 0;
    max-width: 75%;
    float: right;
    margin-right: 15px;
    clear: both;
}

/* コメントエリア */
.line__container .line__right .text {
  padding: 10px;
  border-radius: 20px;
  background-color: #8de055;
  margin: 0;
  margin-left: 80px;
}

/* 吹き出し */
.line__container .line__right .text::after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -10px;
  top: 10px;
  border-left: 20px solid #8de055;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* DM送信ボタン */

.chat-form-box {
  width: 65%;
  margin: 0 auto;
}

.chat-form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-form-group textarea {
  margin-right: 20px;
  width: 50%;
  height: 40px;
  padding: 10px 10px;
  border: 3px #8aa7a1 solid;
  resize: none; 
  border-radius: 3px;
}

.chat-form-group input[type="submit"] {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  background-color: #fafafa;
  color: #e1c0b6;
  text-decoration: none;
  user-select: none;
  border: 1px #e1c0b6 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  cursor: pointer;
}
.chat-form-group input[type="submit"]:hover{
  background: #e1c0b6;
  color: #fff;
}



/* フッター */
.footer {
  background-color: #999;
  padding: 10px 0;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .event_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .event_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}